<div style="position: relative;backround-color: #fff;">
  <!--Jobs.qr_code url={Routes.jobs_url(TmdeWeb.Endpoint, :show, @application)} qr_code={assigns[:qr_code]} /-->
  <Jobs.cv application={@application} />
</div>