<!DOCTYPE html>
<html lang={@locale}>
  <head>
    <meta charset="utf-8"/>
    <base href="http://localhost:4000/" /> 
    <link rel="stylesheet" href={Routes.static_path(TmdeWeb.Endpoint, "/assets/app.css")}/>
    <style>
      body {
        background-color: white;
      }
      .cv-section {
        font-size: 1.125rem;
        margin-left: 10mm;
      }

      .content p {
        text-align: left;
      }
    </style>
  </head>
  <body>
     <.columns>
      <.column width="3">
        <Jobs.CV.sidebar {assigns} /> 
      </.column>
      <.column>
        <Jobs.cv application={@application} />        
      </.column>
    </.columns>
  </body>
</html>
