<!DOCTYPE html>
<html lang={@application.locale}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <title><%= @application.subject %>g></title>
    <!--[if mso]>
    <style>
        table {border-collapse:collapse;border-spacing:0;border:none;margin:0;}
        div, td {padding:0;}
        div {margin:0 !important;}
    </style>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript>
    <![endif]-->
    <style>
        table, td, div, h1, p {
            font-family: Arial, sans-serif;
        }
    </style>
  </head>
  <body style={to_style(%{margin: 0, padding: 0, "word-spacing": "normal", background: "radial-gradient(circle, #eee 0%, #bbb 100%)"})}>
    <div role="article" aria-roledescription="email" lang={@application.locale} style={to_style(%{"text-size-adjust": "100%", "-webkit-text-size-adjust": "100%", "-ms-text-size-adjust": "100%", background: "transparent"})}>
      <.main_content background="radial-gradient(circle at 25% 83%, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 100%)" background="#fff">
        <.block padding="20px 30px">
          <p><%= greeting(@application) %></p>
          <%= raw(@application.email) %>
          <p><%= ending(@application) %></p>
          <p><%= sender(@application) %></p>
        </.block>
        <.block padding="20px 30px">
          <img src="/images/logos/tmd-slogan-120h.svg" width="200" style="width:200;height:auto;border:none;" alt="{@application.sender.name}"/>
          <p>
            <%= @application.sender.title %><br>
            <strong><%= @application.sender.name %></strong><br>
            <%= raw(@application.sender.address |> Enum.join("<br>")) %>
          </p>
          <p>
            <%= for l <- @application.sender.links do %>
              <%= link l, Link.build_link_options(l) %>
            <% end %>
          </p>

        </.block>
      </.main_content>
    </div>
  </body>
</html>