<%= greeting(@application) %>
          
<%= @application.email %>

<%= ending(@application) %>

<%= sender(@application) %>

https://thorsten-michael.de/bewerbung/<%= @application.code %>a

--
<%= @application.sender.title %>
<%= @application.sender.name %>

<%= @application.sender.address |> Enum.join("\n") %>

<%= @application.sender.links |> Enum.join("\n") %>

<%= gettext("Web") %>: <%= Routes.page_url(TmdeWeb.Endpoint, :index) %>

