<!DOCTYPE html>
<html lang={@application.locale}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <title><%= @application.subject %>g></title>
    <!--[if mso]>
    <style>
        table {border-collapse:collapse;border-spacing:0;border:none;margin:0;}
        div, td {padding:0;}
        div {margin:0 !important;}
    </style>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript>
    <![endif]-->
    <style>
        table, td, div, h1, p {
            font-family: Arial, sans-serif;
        }
        a {
          text-decoration: none;
          color: #508caf;
        }
    </style>
  </head>
  <body style={to_style(%{margin: 0, padding: 0, "word-spacing": "normal", background: "radial-gradient(circle, #eee 0%, #bbb 100%)"})}>
    <div role="article" aria-roledescription="email" lang={@application.locale} style={to_style(%{"text-size-adjust": "100%", "-webkit-text-size-adjust": "100%", "-ms-text-size-adjust": "100%", background: "transparent"})}>
      <.main_content background="radial-gradient(circle at 25% 83%, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 100%)" background="#fff">
        <.block>
          <p><%= greeting(@application.contact) %></p>
          <%= raw(@application.email) %>
          <p><%= ending(@application) %></p>
          <p><%= @application.sender %></p>
        </.block>
        <.block>
            <%= gettext("Attachments:") %>
            <ul>
              <%= for %{name: name} <- @attachments do %>
                <li style="margin: 6px 0;">
                  <%= name %>
                </li>
              <% end %>
            </ul>
            <p>
              <%= gettext("P.S. For this application I have created a dedicated section on my website:") %>
              <br>
              <%= url = Routes.jobs_url(TmdeWeb.Endpoint, :show, @application.code); link url, to: url, title: gettext("Show %{url} in browser...", url: url) %>
            </p>
        </.block>
        <.columns>
          <:column>
            <%= link to: Routes.jobs_url(TmdeWeb.Endpoint, :show, @application.code), title: gettext("Show %{url} in browser...", url: "thorsten-michael.de") do %>
              <img src={Routes.jobs_url(TmdeWeb.Endpoint, :logo_logger, @application.code)} width="200" style="width:200;height:auto;border:none;" alt="{@application.sender.name}"/>
            <% end %>
            <p>
              <%= @application.sender.title %><br>
              <strong style="color: #e6611a;"><%= @application.sender %></strong><br>
              <%= @application.sender.address %>
            </p>
          </:column>
          <:column vertical-align="bottom" text-align="right">
            <ul style="list-style:none; padding-inner-start:0;">
              <%= for l <- @application.sender.links do %>
                <li style="margin: 6px 0;">
                  <%= link Link.build_link_options(l) |> Keyword.merge(style: to_style display: "block", "line-height": "28px", color: if l.type == :whatsapp, do: "#89b34d") do %>
                    <i><.bi_icon icon={l.type} size="22" /></i>
                    <span><%= l %></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </:column>
        </.columns>
      </.main_content>
    </div>
  </body>
</html>