      <.field form={@form} name={:dob} label={gettext("day of birth")} input={:date_input} />
      <.field form={@form} name={:place_of_birth} label={gettext("place of birth")} input={:text_input} />
      <.field form={@form} name={:citizenship} label={gettext("citizenship")} input={:text_input} />