<main>
  <p class="notification is-info m-4" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="notification is-danger m-4" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
