<!DOCTYPE html>
<html lang={@locale}>
  <head>
    <meta charset="utf-8"/>
    <base href="http://localhost:4000/" /> 
    <link rel="stylesheet" href={Routes.static_path(TmdeWeb.Endpoint, "/assets/app.css")}/>
    <style>
      body {
        background-color: white;
        width: 210mm;
        height: 297mm;
      }

      .header-section {
        position: absolute;
        top: 0mm;
        left: 0mm;
        right: 0mm;
      }

      .header-section  img {
        width: 60mm;
      }

      .footer-section {
        position: absolute;
        bottom: 0mm;
        left: 0mm;
        right: 0mm;
        height: 25mm;
      }

      .footer-section  img {
        height: 25mm;
      }

      .footer a {
        word-break: break-all;
      }

      .address-section {
        position: absolute;
        top: 45mm;
        left: 0mm;
        width: 80mm;
        height: 30mm;
      }

      .main-section {
        position: relative;
        margin-top: 80mm;
      }

      .main-section p {
      }


      .subject, .signature {
        margin: 10mm 0;
      }
    </style>

  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
