<nav class="navbar is-light">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/" title="Zur Startseite">
        <img src="/images/icons/favicon-32x32.png" 
          srcset="/images/icons/favicon-32x32.png, /images/icons/favicon-64x64.png 2x" 
          alt="TMD (LOGO)" width="32" height="32">
        thorsten-michael.de
      </a>
    </div>
  </div>
</nav>
