/* This file is for your main application CSS */

@import "fonts";

$fa-font-path: "/fonts/";
@import "./font-awesome/fontawesome";
@import "./font-awesome/solid";
@import "./font-awesome/brands";

@import "override_bulma_variables";
@import "bulma";

@import "phx/alerts";
@import "phx/liveview";

@import "typography";
@import "layout";

dl.property-list {
  @extend %block;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: calc($gap / 4);

  dt {
    font-weight: 700;
    grid-column: 1;
  }
  dd {
    grid-column: 2;
    word-break: break-all;
  }
}
