.cv-section {
  margin: 1.75rem 0;

  .media-left {
    min-width: 64px;
  }
}

.cv-entry {
  padding: 0;
  @include tablet {
    .content {
      margin-left: 76px;
    }

    figure {
      width: 76px;
    }
  }
  margin: 1.5rem 0;
}

.signature img {
  display: block;
  height: 5.5em;
}
