.navbar-brand img {
  max-height: none;
  margin: 0 calc($navbar-padding-vertical/2) 0 0;
}

.footer {
  .title {
    font-weight: 400;
    font-size: $size-medium;
    margin-bottom: 1rem;
  }

  li a {
    display: block;
    padding: 0.4em 0;
  }
}

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $family-serif;
  }
}
