$family-sans-serif: "Public Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
  sans-serif;

$family-serif: "Roboto Slab", sans-serif;
$family-secondary: $family-serif;

$orange: #e6611a;
$green: #89b34d;
$blue: #508caf;

$primary: $orange;
$footer-background-color: white;

$border: $green;

$text-strong: $orange;
$strong-weight: 700;

$title-family: $family-serif;
$title-weight: 300;

$subtitle-family: $family-serif;
$subtitle-weight: 400;
$subtitle-color: $green;

$content-heading-weight: 400;
