$family-sans-serif: "Public Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
  sans-serif;

$family-serif: "Roboto Slab", sans-serif;
$family-secondary: $family-serif;

$orange: #e6611a;
// $green: #89b34d;
$green: #888;
$blue: #508caf;
$info: $blue;

$primary: $orange;
$footer-background-color: white;

$border: $green;

$strong-weight: 650;

$title-family: $family-serif;
$title-weight: 500;
$title-color: $orange;

$subtitle-family: $family-serif;
$subtitle-weight: 500;
$subtitle-color: $green;

$content-heading-weight: 400;

$media-border-size: 0;
