blockquote p {
  font-family: $family-serif;
  font-weight: $weight-light;
}

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $family-serif;
  }
}

a {
  font-weight: 500;
}

.navbar-brand {
  font-family: $family-serif;
}

em {
  font-style: normal;
  font-family: $family-serif;
  font-weight: 500;
}
