.content {
  p {
    hyphens: auto;
    text-align: justify;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $family-serif;
  }

  ul {
    list-style-type: square;
  }

  blockquote {
    border-left-color: $primary;
    p {
      font-family: $family-serif;
    }
  }
}

a {
  font-weight: 500;
}

.navbar-brand {
  font-family: $family-serif;
}

em {
  font-style: normal;
  font-family: $family-serif;
  font-weight: 500;
}
