<div class={@class}>
  <.entry_header {assigns} />
  <div class="content">
    <%= @description %>
    <ul>
      <%= for focus <- @entry.focuses do %>
        <.focus focus={focus} />
      <% end %>
    </ul>
  </div>
</div>