<.level class="mb-4">
  <:left>
    <figure>
      <%= if @entry.icon do %>
        <img src={@entry.icon} width="64">
      <% end %>
    </figure>
  </:left>
  <:left>
    <div>
      <.title label={@title} spaced size="4"/>
      <.subtitle label={@subtitle} />
    </div>
  </:left>
  <:right>
    <div class="tag is-medium">
      <em><%= date_interval(@entry, format: "{0M}/{YYYY}") %></em>
    </div>
  </:right>
</.level>