<.field form={@form} name={:street} input={:text_input} label={gettext("street")} />
<.field form={@form} name={:zip} input={:text_input} label={gettext("zip code")} />
<.field form={@form} name={:city} input={:text_input} label={gettext("city")} />
<.field form={@form} name={:country} input={:select} options={@countries} label={gettext("country")} />