<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title"><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
      <p class="subtitle">Peace of mind from prototype to production</p>
    </div>
  </div>
</section>

