<section class="section">
<div class="container">
  <h1 class="title is-1"><%= gettext("Welcome to my personal website") %></h1>
</div>
</section>
<section class="section">
  <div class="container">
    <div class="content">
      <%= raw(@readme_content) %>
    </div>
  </div>
</section>

