<.media>
  <:left>
  <p class="image is-64x64">
    <img src="https://bulma.io/images/placeholders/128x128.png">
    <p>09 2006<br>bis heute</p>
  </p>
  </:left>
  <.title label={@title} />
  <.subtitle label={@subtitle} />
  
</.media>