<div class="is-flex is-justify-content-flex-end is-align-items-flex-end">
  <p class="pr-4">
    <%= gettext("View this application online:") %>
    <br>
    <%= link @url, to: @url, title: gettext("Show %{url} in browser...", url: @url) %>
  </p>
    <img src={"data:image/svg+xml;base64,#{@qr_code}"} />
</div>